<a class="d-flex align-items-center" (click)="openActionModal(userActions)">
  <mat-icon> more_horiz </mat-icon>
</a>

<ng-template #userActions let-modal>
  <div class="user-action">
    <div>
      <div>
        <div class="px-3 pt-3 text-center">
          <a class="d-block" [mat-dialog-close]="true">Follow</a>
        </div>
      </div>
      <div *ngIf="isSameAuthor">
        <hr />
        <div class="px-3 text-center">
          <a class="d-block" [mat-dialog-close]="true" (click)="editPost(post)"
            >Edit</a
          >
        </div>
      </div>
      <div *ngIf="isSameAuthor">
        <hr />
        <div class="px-3 pb-3 text-center text-danger">
          <a
            class="d-block"
            [mat-dialog-close]="true"
            (click)="deletePost(post)"
            >Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
