@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin backgroundclip($backgroundclip) {
    -moz-background-clip: $backgroundclip;
    -o-background-clip: $backgroundclip;
    -ms-background-clip: $backgroundclip;
    -webkit-background-clip: $backgroundclip;
    background-clip: $backgroundclip;
}

@mixin transition-delay($transition-delay) {
    -moz-transition-delay: $transition-delay;
    -o-transition-delay: $transition-delay;
    -ms-transition-delay: $transition-delay;
    -webkit-transition-delay: $transition-delay;
    transition-delay: $transition-delay;
}

@mixin animation($animation) {
    animation: $animation;
    -o-animation: $animation;
    -ms-animation: $animation;
    -webkit-animation: $animation;
    -moz-animation: $animation;
}

@mixin box-shadow($boxshadow) {
    box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    -ms-box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    -moz-box-shadow: $boxshadow;
}
