$main-color-green: rgba(18, 144, 120, 1);
$main-green-transparent: rgba(18, 144, 120, 0.8);
$main-color-black: #262626;
$main-color-white: rgba(255, 255, 255, 1);
$main-black-transparent: rgba(51, 51, 51, 0.9);
$main-color-grey: rgb(238, 238, 238);
