<div class="container">
  <input
    type="file"
    class="file-input"
    [accept]="requiredFileType"
    (change)="onFileSelected($event)"
    multiple
    #fileUpload
  />

  <div class="file-upload">
    {{
      selectedFiles?.length
        ? selectedFiles?.length + " files"
        : "No file uploaded yet."
    }}

    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="fileUpload.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
  <div>
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      [value]="uploadProgress"
      *ngIf="uploadProgress"
    >
    </mat-progress-bar>
    <mat-icon
      class="cancel-upload"
      (click)="cancelUpload()"
      *ngIf="uploadProgress"
      >delete_forever
    </mat-icon>
  </div>
</div>

<!-- <div *ngFor="let progressInfo of progressInfos" class="mb-2">
  <span>{{ progressInfo.fileName }}</span>
  <div class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progressInfo.value }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progressInfo.value + '%' }"
    >
      {{ progressInfo.value }}%
    </div>
  </div>
</div>
<div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
  <ul *ngFor="let msg of message; let i = index">
    <li>{{ msg }}</li>
  </ul>
</div>
<div class="card mt-3">
  <div class="card-header">List of Files</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of fileInfos | async"
  >
    <li class="list-group-item">
      <a [href]="file.url">{{ file.name }}</a>
    </li>
  </ul>
</div> -->
