<div class="container" *ngIf="user$ | async as user">
  <div class="d-post-wrapper" *ngIf="post$ | async as post">
    <div class="d-post">
      <div class="d-flex justify-content-center">
        <div class="d-post-box-left">
          <div class="">
            <div class="d-post-img">
              <img [src]="post.images[0]" />
            </div>
          </div>
        </div>
        <div class="w-75">
          <div class="d-post-box-right">
            <div class="d-post-contents">
              <div class="d-post-heading d-flex align-items-center">
                <div class="align-self-center">
                  <img
                    class="media-object c-img-thumnail img-circle img-no-padding img-responsive img-fluid"
                    [src]="post.author?.thumbnail"
                    width="40"
                  />
                </div>
                <div class="font-weight-bold flex-grow-1">
                  <strong>
                    {{ post.author?.username }}
                  </strong>
                </div>
                <div class="pr-2">
                  <a
                    class="d-flex align-items-center"
                    (click)="openActionModal(userActions)"
                  >
                    <mat-icon> more_horiz </mat-icon>
                  </a>
                </div>
              </div>

              <div class="d-post-comments">
                <app-comments
                  [comments]="post.comments"
                  [postId]="postId"
                  [userId]="user._id"
                ></app-comments>
              </div>
              <!-- Post Detail -->
              <div class="d-post-detail">
                <div class="row d-post-detail-functions">
                  <div class="col-md-12">
                    <div class="d-flex">
                      <div>
                        <app-likes
                          [isLiked]="isPostLiked(post, user._id)"
                          [postId]="postId"
                          [userId]="user._id"
                          [likeStyle]="{ color: '#c51104' }"
                        >
                        </app-likes>
                      </div>
                      <div class="ms-2 flex-grow-1">
                        <mat-icon>bookmark_border</mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row d-post-detail-likes">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center">
                      <div>
                        <div *ngIf="post.likes?.length">
                          <div class="d-flex">
                            <div class="d-flex">
                              <span> Liked by </span>
                              <a
                                class="d-block px-1"
                                (click)="openLikes(likes)"
                              >
                                <strong class="">
                                  <!-- {{
                                    post.likes &&
                                      post.likes[post.likes.length - 1].author
                                        .username
                                  }} -->
                                </strong>
                              </a>
                            </div>

                            <div *ngIf="post.likes && post.likes.length > 1">
                              <div class="d-flex">
                                <span> and </span>
                                <a class="d-block px-1">
                                  <strong class="" (click)="openLikes(likes)">
                                    others
                                  </strong>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ng-template #elseBlock>
                          Pleaes like this post.
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- comment -->
              <div class="d-post-comment-write">
                <app-comment-create [post]="post"></app-comment-create>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #userActions let-modal>
      <div class="user-action">
        <div>
          <div class="px-3 pt-3 text-center">
            <a
              class="d-block"
              [mat-dialog-close]="true"
              (click)="editPost(post)"
              >Edit</a
            >
          </div>
          <hr />
          <div class="px-3 pb-3 text-center text-danger">
            <a
              class="d-block"
              [mat-dialog-close]="true"
              (click)="editPost(post)"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #likes let-modal>
      <div>
        <h2 class="my-4 text-center">LIKES</h2>
      </div>
      <hr />
      <div class="user-action p-4">
        <div *ngFor="let like of post.likes">
          <div class="d-flex align-items-center">
            <div>
              <img
                alt="HHAHa"
                width="40"
                class="media-object c-img-thumnail img-circle img-fluid"
                [src]="like.author.thumbnail"
              />
            </div>
            <div>
              {{ like.author.username }}
            </div>
            <div class="flex-grow-1 text-end">
              <button mat-button>Follow</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
