<mat-toolbar>
  <div class="container">
    <div class="d-flex align-items-center">
      <a class="d-block home-link" [routerLink]="['/']">ProjectStagram</a>
      <span class="flex-grow-1"></span>

      <button
        mat-icon-button
        class="favorite-icon"
        aria-label=""
        routerLink="/posts/create"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <button mat-icon-button class="" aria-label="">
        <mat-icon>share</mat-icon>
      </button>
      <div>
        <a
          href="#"
          class="nav-link-1"
          *ngIf="isLoggedOut$ | async"
          [routerLink]="['/login']"
        >
          <mat-icon>login</mat-icon>
        </a>
      </div>
      <div *ngIf="user$ | async as user">
        <button mat-button [matMenuTriggerFor]="menu">
          <img
            class="img-thumbnail img-circle"
            [src]="user?.thumbnail"
            alt=""
          />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/user', user._id]">
            <mat-icon>account_circle</mat-icon>
            Profile
          </button>
          <button mat-menu-item *ngIf="isLoggedIn$ | async" (click)="logout()">
            <mat-icon>logout</mat-icon>
            Sign out
          </button>
        </mat-menu>
      </div>
      <div>
        <button
          mat-icon-button
          class="example-icon"
          *ngIf="isLoggedOut$ | async"
          [routerLink]="['/sign-up']"
          aria-label=""
        >
          <mat-icon>how_to_reg</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
