::ng-deep .no-padding-post {
  overflow-y: scroll;

  .mat-dialog-container {
    // mat dialog container
    /* add your styles */
    padding: 0 !important;
  }
}

::ng-deep .custom-no-padding {
  .mat-dialog-container {
    // mat dialog container
    /* add your styles */
    padding: 0 !important;
  }
}
