<div>
  <div *ngIf="post?.likes?.length; else elseBlock">
    <div class="d-flex">
      <div class="d-flex">
        <span> Liked by </span>
        <a class="d-block px-1" (click)="openLikes(likes)">
          <strong class="">
            {{ post && post.likes[0].author.username }}
          </strong>
        </a>
      </div>

      <div *ngIf="post?.likes">
        <div class="d-flex">
          <span> and </span>
          <a class="d-block px-1">
            <strong class="" (click)="openLikes(likes)"> others </strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <span> Pleaes like this post. </span>
  </ng-template>
</div>

<ng-template #likes let-modal>
  <div>
    <h2 class="my-4 text-center">LIKES</h2>
  </div>
  <hr />
  <div class="user-action p-4">
    <div *ngFor="let like of post?.likes">
      <div class="d-flex align-items-center">
        <div>
          <img
            alt="HHAHa"
            width="40"
            class="media-object c-img-thumnail img-circle img-fluid"
            [src]="like.author?.thumbnail"
          />
        </div>
        <div>
          {{ like.author?.username }}
        </div>
        <div class="flex-grow-1 text-end">
          <button mat-button>Follow</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
