<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="search-results">
            <div class="row">
              <div class="col-md-4 mb-4" *ngFor="let post of posts; index as i">
                <a (click)="clickPost(post, i)">
                  <div class="post">
                    <div class="post-box" style="box-shadow: 3px 2px 5px;">
                      <div class="post-bg" [ngStyle]="{'backgroundImage': getBackgroundImageUrl(post)}">
                      </div>
                      <div class="post-content">
                        <div class="c-post-content-detail"> <i class="nc-icon nc-paper"></i> {{post.content}} </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
     
        </div>
      </div>
    </div>
  </section>
  