<nav class="navbar navbar-expand-lg fixed-top justify-content-between" color-on-scroll="500"
  [ngClass]="{ '': !navBackgroundColor }" (scroll)="scrollHandler($event)">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="">Bulletin Board</a>
      <button class="navbar-toggler navbar-burger toggle" type="button" data-toggle="collapse"
        data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation" (click)="sidebarToggle()">
        <span class="navbar-toggler-bar toggle"></span>
        <span class="navbar-toggler-bar toggle"></span>
        <span class="navbar-toggler-bar toggle"></span>
      </button>
    </div>
    <!-- SEARCH -->
    <!-- <div class="search-wrapper">
        <form (keyup.enter)="search()">
          <div class="input-group mb-3 mb-lg-0">
            <input class=" form-control" placeholder="Search" type="text" [formControl]="keyword" />
            <div class=" input-group-append">
              <span class=" input-group-text" (click)="search()"> <i class="nc-icon nc-zoom-split"> </i> </span>
            </div>
          </div>
        </form>
      </div> -->
    <!-- SEARCH ENDS-->
    <div class="navbar-collapse flex-grow-0" id="navbarToggler">
      <ul class="navbar-nav ml-auto" (clickoutside)="cancel($event)">

        <li class="nav-item" *ngIf="!isDocumentation()">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">
            <div class="nav-item-desc">
              <i class="nc-icon nc-alert-circle-i m-nav-icon"></i>
              <span class="d-lg-none">About</span>
            </div>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isDocumentation()">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <div class="nav-item-desc">
              <i class="nc-icon nc-bullet-list-67 m-nav-icon"></i>
              <span class="d-lg-none">Forum</span>
            </div>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isDocumentation()">
          <a class="nav-link">
            <div class="nav-item-desc">
              <i class="nc-icon nc-email-85 m-nav-icon"></i>
              <span class="d-lg-none">Message</span>
            </div>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <div class="dropdown" ngbDropdown placement="bottom-right">
            <a class="nav-link dropdown-toggle m-nav-dropdown" id="dropdownBasic1" ngbDropdownToggle>
              <i aria-hidden="true" class="nc-icon nc-single-02 m-nav-icon"></i>
              <span class="d-lg-none">{{user?.displayName}}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" x-placement="bottom-left">

              <a class="dropdown-item" [routerLink]="['/user', user?.uid]">My Profile</a>
              <!-- <a class="dropdown-item">Dashboard </a> -->
              <!-- <a class="dropdown-item">Settings</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="signOut()">Sign Out</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a *ngIf="!isLoggedIn" (click)="signInOpen()" class="nav-link">
            Sign in
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn" (click)="signUpOpen()" class="nav-link">
            Sign up
          </a>
        </li>
        <li class="nav-item" *ngIf="isDocumentation()">
          <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local" target="_blank"
            class="nav-link">Have an issue</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
